name: canary-release
on:
  # workflow_run:
  #   workflows: ["build"]
  #   types: [completed]
    # branches:
    #   - 'release-**'
  workflow_dispatch:
  
jobs:
  deploy:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    # Really? This is only way???
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: ${{ github.ref_name }}.${{ github.sha }}.${{ github.run_attempt }}
          path: '*.tar.xz'
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"