
name: Publish Docker image

on:
  workflow_run:
    workflows: ["build"]
    types: [completed]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build.yml
          workflow_conclusion: success
          name: ${{ github.ref_name }}.${{ github.sha }}.${{ github.run_attempt }}
      - name: Extract files from archive
        run: tar -xvf ${{ github.ref_name }}.${{ github.sha }}.${{ github.run_attempt }}.tar.xz
      - name: Display structure of downloaded files
        run: ls -R
        working-directory: .
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: akiyamka/node-js-ci-cd-experement
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: ./dist
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}